.navBar {
  min-width: 100vw;
  width: 100%;
  height: 100%;
  height: 8.5vh;
  background-color: #2074d4;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 1000;
  box-shadow: 0px 0.4vw 0.1vw rgba(0.5, 0, 0, 0.4);
}

.pages {
  padding-bottom: 0.5vh;
}

.items {
  padding-left: 1.5vw;
}

.dropdown_options {
  text-decoration: none;
  color: white;
  justify-content: center;
}

.items a {
  text-decoration: none;
  color: inherit;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .items {
    font-size: 3vw; /* Adjust font size for smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .items {
    font-size: 2vw; /* Adjust font size for even smaller screens */
  }
}