.navBar {
  min-width: 100vw;
  width: 100%;
  height: 100%;
  height: 8.5vh;
  background-color: #2074d4;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 1000;
  box-shadow: 0px 0.4vw 0.1vw rgba(0.5, 0, 0, 0.4);
}

.pages {
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 100%;
  justify-content: space-around;
}

.item_wrapper {
  display: flex;
  height: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  align-items: center;
}

.items {
  padding-top: 5.85vh;
  height: 100%;
}

.dropdown_options {
  text-decoration: none;
  color: white;
  justify-content: center;
}

.items a {
  text-decoration: none;
  color: inherit;
}

.item_wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 0.5vh solid white;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .items {
    font-size: 5vw; /* Adjust font size for smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .items {
    font-size: 4vw; /* Adjust font size for even smaller screens */
  }
}